*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-fundo:rgba(247, 239, 131, 0.671);
    --cor-hover:rgba(243, 208, 9, 0.548); 
    --cor-texto:rgba(32, 32, 3, 0.733);
    --cor-titulo:rgb(150, 143, 56);
    --cor-tabela: rgb(245, 231, 35);
    --cor-texto-tabela: rgba(112, 112, 91, 0.315);    
    
}
h1{
    text-align: center;
    color: var(--cor-titulo);
    font: 50px "Wide Latin";
}
body{
    background-color: var(--cor-fundo);
    /*background-image: url(../img/outline_lunch_dining_black_24dp.png);*/
    background-repeat: no-repeat;
    background-size: 10px;
    
}

#img1{
    margin: 6px;
    border-radius: 15px;
}
#img2{
    margin: 6px;
    border-radius: 15px;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo);
}
#menu ul{
    display: flex;
    flex-direction: row;
    float: none;
    list-style: none;
    width: 100%;
    font-size: 25px;
    justify-content: center;
}
#menu ul li{
    text-align: center;
    padding: 50px;
}
#menu ul li a{
    flex-direction: row;
    text-decoration: none;
    color: var(--cor-texto);
    align-items: center;
}
#menu ul li a:hover{
    background-color: var(--cor-hover);
    padding: 25px;
}
div{
    padding: 20px;
}
h2{
    text-align: center;
    font-size: 25px;
    color: var(--cor-titulo);
    padding: 10px;
}
table{
    border-collapse: collapse;
    border: var(--cor-tabela);
    color: var(--cor-texto);
    width: 50%;
    padding: 30px;
    margin: auto;
}
tr{
    height: 50px;
    text-align: center;

} 
td{
    height: 50px;
    text-align: center;
    
}
